:root {
  --primary-color: #fcd34d;
  --secondary-color: #fca5a5;
  --tertiary-color: #93c5fd;
  ---text-color: #fff;
}

/* Avatar Images */
.avatar-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.avatar-img.md {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.avatar-img.lg {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

/* Alert Messages */
.alert {
  width: 50%;
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.alert-success {
  background-color: #d1e7dd;
  border-color: #ade2bc;
  color: #0f5132;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #fff3cd;
  color: #664d03;
}

.alert-important {
  background-color: #e2e3e5;
  border-color: #d3d6d8;
  color: #41464b;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

/* Badges */

.badge {
  padding-top: 0.05;
  padding-bottom: 0.05;
  text-align: center;
  border-radius: 0.5rem;
  width: 6rem;
}

.badge-primary {
  background-color: #6c757d;
  color: #fff;
}

.badge-secondary {
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #6c757d;
}

/* Badges with Notification */

.notif {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 3.5rem;
  left: 4.3rem;
}

.avatar-badge-notification {
  position: relative;
}

/* Button */

.primary-button {
  width: 6rem;
  height: auto;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.05rem;
  border: 1px solid var(--primary-color);
}

.secondary-button {
  height: auto;
  background-color: #fff;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.05rem;
  width: 6rem;
  border: 1px solid var(--primary-color);
}

.floating-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

.plus-button {
  align-self: center;
}

/* Cards */

.text-only-cards {
  width: 15rem;
  background-color: #e5e7eb;
  height: 20rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  align-self: center;
}

.vertical-card {
  width: 15rem;
  background-color: #e5e7eb;
  height: 20rem;
}

.horizontal-card {
  width: 20rem;
  background-color: #e5e7eb;
  height: 15rem;
}
