@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #02066f;
  --secondary-color: #ff073a;
  --tertiary-color: #00022e;
  --text-color: #fff;
  --text-color-grey: #9ca3af;
  --grey-color: #d1d5db;
  --background-grey: #f3f4f6;
  --heading-text-grey: #374151;
}

/* Links Styling */

a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

/* BODY COMMANDS */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* Navigation */

.navigation {
  background-color: var(--primary-color);
  padding: 0.5rem 0.2rem;
  margin: 0;
}

.nav-links {
  width: 10rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color);
}

/* Heading */

.main-heading {
  text-align: center;
  color: var(--secondary-color);
}

.ui {
  color: #374151;
}

.atom-description {
  background-color: var(--background-grey);
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Installation Heading */

.installation {
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.installation-heading {
  color: var(--heading-text-grey);
}

/* Installation Guide */

.installation-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: var(--background-grey);
  padding-left: 10%;
  padding-right: 5%;
}

.link-iframe {
  align-self: center;
}
/* Header Image */

.header-image-container {
  display: flex;
  justify-content: center;
}

.header-image {
  width: 40%;
  height: 15rem;
  margin: 2rem;
}

/* Avatar Images */
.avatar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.avatar-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.avatar-img.md {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.avatar-img.lg {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

/* Alert Messages */

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  width: 50%;
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.alert-success {
  background-color: #d1e7dd;
  border-color: #ade2bc;
  color: #0f5132;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #fff3cd;
  color: #664d03;
}

.alert-important {
  background-color: #e2e3e5;
  border-color: #d3d6d8;
  color: #41464b;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

/* Badges */

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.badge {
  padding-top: 0.05;
  padding-bottom: 0.05;
  text-align: center;
  border-radius: 0.5rem;
  width: 6rem;
}

.badge-primary {
  background-color: #6c757d;
  color: #fff;
}

.badge-secondary {
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #6c757d;
}

/* Badges with Notification */

.notif-badge-container {
  display: flex;
  justify-content: center;
}

.notif {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 3.5rem;
  left: 4.3rem;
}

.avatar-badge-notification {
  position: relative;
}

/* Button */

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.primary-button {
  width: 6rem;
  height: auto;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.05rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.secondary-button {
  height: auto;
  background-color: #fff;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.05rem;
  width: 6rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.floating-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

.plus-button {
  align-self: center;
}

/* Cards */

.card {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-only-cards {
  width: 15rem;
  background-color: #e5e7eb;
  height: 20rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  align-self: center;
}

.vertical-card {
  width: 15rem;
  background-color: #e5e7eb;
  height: 20rem;
}

.horizontal-card {
  width: 20rem;
  background-color: #e5e7eb;
  height: 15rem;
}

/* Images */

.container-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.responsive-image {
  width: 16rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.round {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}

/* Lists */

/* Stacked Lists */

.list-group {
  list-style-type: none;
}

.list-item {
  width: 40%;
  border: 1px solid var(--grey-color);
  padding: 0.5rem;
}

/* Spaced Lists */

.spaced {
  margin-bottom: 1rem;
}

/* Modals */

.modal-box {
  width: 20rem;
  border: 1px solid var(--grey-color);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0rem;
}

.modal-title {
  grid-row: 1/2;
  padding: 0.05rem;
  text-align: center;
  border-bottom: 1px solid var(--grey-color);
}

.modal-text {
  grid-row: 2/3;
  padding: 2rem;
  border-bottom: 1px solid var(--grey-color);
}

.modal-buttons {
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Text Utilities */

.colored-normal-text {
  color: var(--grey-color);
}

/* Rating */

/* footer */

.footer-ele {
  background-color: var(--primary-color);
  width: 100%;
  height: 6rem;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 3rem;
  position: relative;
  bottom: 0;
  margin-top: 0;
}

.media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social {
  font-size: 2rem;
  cursor: pointer;
}

/* Documents.HTML */

/* 
.sidenav {
  background-color: var(--secondary-color);
} */
/* 
.sidenav {
  height: 100%; /* 100% Full-height */
/* width: 0; /* 0 width - change this with JavaScript */
/* position: fixed; Stay in place */
/* z-index: 1; Stay on top */
/* top: 0; Stay at the top */
/* left: 0; */
/* background-color: #111; Black */
/* overflow-x: hidden; /* Disable horizontal scroll */
/* padding-top: 60px; Place content 60px from the top */
/* transition: 0.5s; 0.5 second transition effect to slide in the sidenav */
/* }  */
/* 
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} */
/* 
.sidenav a:hover {
  color: #f1f1f1;
} */
/* 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Component Display */

.component-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.component-name {
  color: var(--heading-text-grey);
  margin-bottom: 1rem;
}

.component-about {
  color: var(--heading-text-grey);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.component-displayer {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.code {
  width: 100%;
  margin-top: 2rem;
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

/* Desktop View */
